<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @await RenderSectionAsync("styles", false)
</head>
<body>
    <div class="sidebar">
        <a asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-home"></i> Dashboard</a>
        <a asp-controller="Student" asp-action="Index"><i class="fa fa-fw fa-user"></i> Students</a>
        <a asp-controller="Course" asp-action="Index"><i class="fa fa-book"></i> Course</a>
    </div>

    <div class="main">
        @RenderBody()
    </div>

    @await RenderSectionAsync("scripts", false)
</body>
</html>
